In [1]:
from sklearn import svm, datasets 
import matplotlib.pyplot as plt 
import numpy as np 
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split 
import pandas as pd

# Load dataset

In [2]:
pd = pd.read_csv('heart_cleveland_upload.csv')

In [3]:
pd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

# check a particular age is repeated how many times

In [4]:
pd['age'].value_counts()

58    18
57    17
54    16
59    14
60    12
51    12
56    11
52    11
44    11
62    11
64    10
41    10
63     9
67     9
61     8
55     8
45     8
42     8
65     8
46     7
48     7
50     7
43     7
66     7
53     7
49     5
47     5
70     4
68     4
39     4
35     4
69     3
71     3
40     3
34     2
37     2
76     1
29     1
74     1
38     1
77     1
Name: age, dtype: int64

In [5]:
pd['sex'].value_counts()

1    201
0     96
Name: sex, dtype: int64

In [6]:
pd['cp'].value_counts()

3    142
2     83
1     49
0     23
Name: cp, dtype: int64

In [7]:
pd.isna().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

# extract input features

In [8]:
x = pd.iloc[:,:-1]

In [9]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0

# extract output feature or target

In [10]:
y = pd.iloc[:,-1:]

In [11]:
y.head()

   condition
0          0
1          0
2          0
3          1
4          0

# split the train, test samples

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=35, test_size = 0.20)

In [14]:
x_train.shape

(237, 13)

In [15]:
x_test.shape

(60, 13)

In [16]:
y_train.shape

(237, 1)

In [17]:
y_test.shape

(60, 1)

# fit the model , and predict

In [18]:
clf = svm.SVC(kernel='linear')
clf.fit(x_train, y_train.values.ravel())
y_predict = clf.predict(x_test)

# calculate the classification report

In [19]:
from sklearn.metrics import classification_report


print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.88      0.97      0.92        31
           1       0.96      0.86      0.91        29

    accuracy                           0.92        60
   macro avg       0.92      0.91      0.92        60
weighted avg       0.92      0.92      0.92        60

# calculate the accuracy

In [20]:
print('accuracy score ', accuracy_score(y_test, y_predict))

accuracy score  0.9166666666666666