In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as pt

In [2]:
pd = pd.read_csv('heart_cleveland_upload.csv')

In [3]:
pd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [4]:
pd.shape

(297, 14)

In [5]:
pd.isna().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [6]:
x = pd.iloc[:,:-1]

In [7]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2

In [8]:
y = pd.iloc[:,-1:]

In [9]:
y

     condition
0            0
1            0
2            0
3            1
4            0
..         ...
292          1
293          1
294          1
295          0
296          1

[297 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
for i in range(200):
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=i)
    rfc = RandomForestClassifier()
    rfc.fit(xtrain, ytrain.values.ravel())
    dct = DecisionTreeClassifier()
    dct.fit(xtrain, ytrain.values.ravel())
    print(i, rfc.score(xtest, ytest), dct.score(xtest, ytest))

0 0.8 0.6666666666666666
1 0.8222222222222222 0.7333333333333333
2 0.8222222222222222 0.7444444444444445
3 0.8333333333333334 0.7888888888888889
4 0.7888888888888889 0.7666666666666667
5 0.8444444444444444 0.7111111111111111
6 0.8111111111111111 0.7111111111111111
7 0.8555555555555555 0.7777777777777778
8 0.8111111111111111 0.8
9 0.7777777777777778 0.7333333333333333
10 0.8111111111111111 0.7333333333333333
11 0.8555555555555555 0.6777777777777778
12 0.7666666666666667 0.7
13 0.8222222222222222 0.7777777777777778
14 0.8666666666666667 0.8111111111111111
15 0.8444444444444444 0.7555555555555555
16 0.7777777777777778 0.7111111111111111
17 0.8333333333333334 0.6888888888888889
18 0.8 0.7666666666666667
19 0.8222222222222222 0.8
20 0.8111111111111111 0.7555555555555555
21 0.8444444444444444 0.7888888888888889
22 0.8333333333333334 0.7444444444444445
23 0.8222222222222222 0.7777777777777778
24 0.7888888888888889 0.6888888888888889
25 0.8111111111111111 0.7222222222222222
26 0.8222222222222222 0.7222222222222222
27 0.8555555555555555 0.8
28 0.7777777777777778 0.7111111111111111
29 0.8555555555555555 0.7888888888888889
30 0.8333333333333334 0.7777777777777778
31 0.8444444444444444 0.8222222222222222
32 0.8 0.7111111111111111
33 0.8555555555555555 0.7888888888888889
34 0.7777777777777778 0.6555555555555556
35 0.8333333333333334 0.8111111111111111
36 0.8 0.8333333333333334
37 0.8666666666666667 0.7777777777777778
38 0.7888888888888889 0.7111111111111111
39 0.8222222222222222 0.7777777777777778
40 0.7666666666666667 0.6888888888888889
41 0.8333333333333334 0.7666666666666667
42 0.7888888888888889 0.8
43 0.8222222222222222 0.7222222222222222
44 0.8555555555555555 0.7888888888888889
45 0.8666666666666667 0.7222222222222222
46 0.8222222222222222 0.7111111111111111
47 0.8 0.6888888888888889
48 0.8 0.7222222222222222
49 0.7666666666666667 0.7333333333333333
50 0.8555555555555555 0.7333333333333333
51 0.7444444444444445 0.6888888888888889
52 0.8 0.6555555555555556
53 0.8 0.7444444444444445
54 0.7666666666666667 0.7888888888888889
55 0.8777777777777778 0.7444444444444445
56 0.8555555555555555 0.7333333333333333
57 0.8666666666666667 0.7444444444444445
58 0.8222222222222222 0.7444444444444445
59 0.7555555555555555 0.7333333333333333
60 0.8 0.7111111111111111
61 0.7888888888888889 0.6777777777777778
62 0.8333333333333334 0.7666666666666667
63 0.8111111111111111 0.7444444444444445
64 0.8555555555555555 0.6666666666666666
65 0.8333333333333334 0.7777777777777778
66 0.8666666666666667 0.7333333333333333
67 0.8555555555555555 0.7777777777777778
68 0.8333333333333334 0.7
69 0.8 0.7222222222222222
70 0.8222222222222222 0.7666666666666667
71 0.8888888888888888 0.7111111111111111
72 0.8777777777777778 0.7111111111111111
73 0.8222222222222222 0.7444444444444445
74 0.8555555555555555 0.7333333333333333
75 0.8777777777777778 0.8
76 0.7888888888888889 0.7777777777777778
77 0.8222222222222222 0.7111111111111111
78 0.8111111111111111 0.7777777777777778
79 0.8 0.7333333333333333
80 0.7666666666666667 0.7444444444444445
81 0.8666666666666667 0.6555555555555556
82 0.8666666666666667 0.6777777777777778
83 0.8555555555555555 0.7555555555555555
84 0.7888888888888889 0.7
85 0.8777777777777778 0.7444444444444445
86 0.8444444444444444 0.6444444444444445
87 0.8111111111111111 0.7222222222222222
88 0.8333333333333334 0.7888888888888889
89 0.8 0.7555555555555555
90 0.7777777777777778 0.7111111111111111
91 0.8 0.7111111111111111
92 0.8333333333333334 0.7444444444444445
93 0.8888888888888888 0.7333333333333333
94 0.8 0.7
95 0.8 0.6888888888888889
96 0.8 0.7
97 0.8555555555555555 0.7777777777777778
98 0.8 0.7888888888888889
99 0.8666666666666667 0.8222222222222222
100 0.8333333333333334 0.7888888888888889
101 0.8222222222222222 0.6555555555555556
102 0.8333333333333334 0.7555555555555555
103 0.8222222222222222 0.7333333333333333
104 0.8222222222222222 0.7333333333333333
105 0.8777777777777778 0.7777777777777778
106 0.8555555555555555 0.8111111111111111
107 0.8 0.7666666666666667
108 0.7888888888888889 0.7222222222222222
109 0.7888888888888889 0.7777777777777778
110 0.8333333333333334 0.6777777777777778
111 0.7666666666666667 0.6888888888888889
112 0.8222222222222222 0.8
113 0.7777777777777778 0.7222222222222222
114 0.7777777777777778 0.7444444444444445
115 0.8222222222222222 0.7888888888888889
116 0.8 0.7777777777777778
117 0.8222222222222222 0.7333333333333333
118 0.8 0.7333333333333333
119 0.8444444444444444 0.7444444444444445
120 0.7888888888888889 0.6777777777777778
121 0.8222222222222222 0.7444444444444445
122 0.8444444444444444 0.7222222222222222
123 0.8111111111111111 0.7777777777777778
124 0.7777777777777778 0.6666666666666666
125 0.8111111111111111 0.7222222222222222
126 0.8777777777777778 0.7444444444444445
127 0.8111111111111111 0.7666666666666667
128 0.8333333333333334 0.7111111111111111
129 0.8444444444444444 0.7666666666666667
130 0.8333333333333334 0.6666666666666666
131 0.8333333333333334 0.6777777777777778
132 0.9111111111111111 0.7666666666666667
133 0.8222222222222222 0.7777777777777778
134 0.8111111111111111 0.7222222222222222
135 0.8222222222222222 0.7444444444444445
136 0.8444444444444444 0.7444444444444445
137 0.8444444444444444 0.7
138 0.7555555555555555 0.7333333333333333
139 0.7666666666666667 0.7
140 0.8555555555555555 0.7888888888888889
141 0.8333333333333334 0.6666666666666666
142 0.8333333333333334 0.7333333333333333
143 0.8555555555555555 0.7222222222222222
144 0.8 0.7222222222222222
145 0.8222222222222222 0.7
146 0.8222222222222222 0.7777777777777778
147 0.8333333333333334 0.6666666666666666
148 0.8444444444444444 0.7333333333333333
149 0.7888888888888889 0.7333333333333333
150 0.7777777777777778 0.6333333333333333
151 0.8222222222222222 0.7888888888888889
152 0.8 0.6888888888888889
153 0.8 0.7222222222222222
154 0.7888888888888889 0.8
155 0.8111111111111111 0.7666666666666667
156 0.8222222222222222 0.7888888888888889
157 0.7888888888888889 0.7333333333333333
158 0.8444444444444444 0.7888888888888889
159 0.8222222222222222 0.7666666666666667
160 0.8444444444444444 0.7111111111111111
161 0.8222222222222222 0.7333333333333333
162 0.8111111111111111 0.7666666666666667
163 0.8111111111111111 0.7111111111111111
164 0.8444444444444444 0.7222222222222222
165 0.8222222222222222 0.7666666666666667
166 0.8111111111111111 0.7555555555555555
167 0.8444444444444444 0.7666666666666667
168 0.8333333333333334 0.8
169 0.7888888888888889 0.6777777777777778
170 0.8333333333333334 0.7666666666666667
171 0.8111111111111111 0.7444444444444445
172 0.8111111111111111 0.7333333333333333
173 0.7888888888888889 0.7888888888888889
174 0.8666666666666667 0.7
175 0.7555555555555555 0.6777777777777778
176 0.8666666666666667 0.7333333333333333
177 0.8 0.7111111111111111
178 0.8 0.6888888888888889
179 0.7888888888888889 0.7666666666666667
180 0.8 0.7
181 0.8333333333333334 0.6888888888888889
182 0.7777777777777778 0.7111111111111111
183 0.7666666666666667 0.6
184 0.7777777777777778 0.7888888888888889
185 0.8222222222222222 0.7111111111111111
186 0.8222222222222222 0.7444444444444445
187 0.7666666666666667 0.6777777777777778
188 0.8222222222222222 0.7555555555555555
189 0.8 0.6777777777777778
190 0.7888888888888889 0.7333333333333333
191 0.8222222222222222 0.7555555555555555
192 0.8666666666666667 0.8444444444444444
193 0.7888888888888889 0.7444444444444445
194 0.7666666666666667 0.7666666666666667
195 0.8222222222222222 0.7444444444444445
196 0.8555555555555555 0.8222222222222222
197 0.8222222222222222 0.7777777777777778
198 0.8555555555555555 0.8555555555555555
199 0.8333333333333334 0.6666666666666666