In [17]:
from sklearn import svm, datasets 
import matplotlib.pyplot as plt 
import numpy as np 
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split 
import pandas as pd 
from mlxtend.plotting import plot_decision_regions
from sklearn.metrics import plot_confusion_matrix

# Load dataset

In [18]:
pd = pd.read_csv('heart_cleveland_upload.csv')

In [19]:
pd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

# check a particular age is repeated how many times

In [20]:
pd['age'].value_counts()

58    18
57    17
54    16
59    14
60    12
51    12
56    11
52    11
44    11
62    11
64    10
41    10
63     9
67     9
61     8
55     8
45     8
42     8
65     8
46     7
48     7
50     7
43     7
66     7
53     7
49     5
47     5
70     4
68     4
39     4
35     4
69     3
71     3
40     3
34     2
37     2
76     1
29     1
74     1
38     1
77     1
Name: age, dtype: int64

In [25]:
pd['sex'].value_counts()

1    201
0     96
Name: sex, dtype: int64

In [24]:
pd['cp'].value_counts()

3    142
2     83
1     49
0     23
Name: cp, dtype: int64

# extract input features

In [26]:
x = pd.iloc[:,:-1]

In [11]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

# extract output feature or target

In [27]:
y = pd.iloc[:,-1:]

In [28]:
y.head()

   condition
0          0
1          0
2          0
3          1
4          0

# split the train, test samples

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size = 0.25)

In [30]:
x_train.shape

(222, 13)

In [31]:
x_test.shape

(75, 13)

In [32]:
y_train.shape

(222, 1)

In [33]:
y_test.shape

(75, 1)

# fit the model , and predict

In [46]:
clf = svm.SVC(kernel='linear')
clf.fit(x_train, y_train.values.ravel())
y_predict = clf.predict(x_test)

# calculate the classification report

In [47]:
from sklearn.metrics import classification_report


print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.77      0.88      0.82        34
           1       0.89      0.78      0.83        41

    accuracy                           0.83        75
   macro avg       0.83      0.83      0.83        75
weighted avg       0.83      0.83      0.83        75

# calculate the accuracy

In [48]:
print('accuracy score ', accuracy_score(y_test, y_predict))

accuracy score  0.8266666666666667