In [38]:
from sklearn import svm, datasets 
import matplotlib.pyplot as plt 
import numpy as np 
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split 
import pandas as pd

# Load dataset

In [39]:
pd = pd.read_csv('heart.csv')

In [40]:
pd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

# check a particular age is repeated how many times

In [7]:
pd['age'].value_counts()

58    68
57    57
54    53
59    46
52    43
51    39
56    39
62    37
60    37
44    36
64    34
41    32
63    32
67    31
61    31
55    30
65    27
43    26
42    26
53    26
66    25
45    25
48    23
46    23
50    21
47    18
49    17
35    15
39    14
70    14
68    12
38    12
71    11
40    11
69     9
37     6
34     6
29     4
76     3
77     3
74     3
Name: age, dtype: int64

In [8]:
pd['sex'].value_counts()

1    713
0    312
Name: sex, dtype: int64

In [9]:
pd['cp'].value_counts()

0    497
2    284
1    167
3     77
Name: cp, dtype: int64

# extract input features

In [10]:
x = pd.iloc[:,:-1]

In [11]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

# extract output feature or target

In [12]:
y = pd.iloc[:,-1:]

In [13]:
y.head()

   target
0       0
1       0
2       0
3       0
4       0

# split the train, test samples

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size = 0.25)

In [41]:
x_train.shape

(768, 13)

In [42]:
x_test.shape

(257, 13)

In [43]:
y_train.shape

(768, 1)

In [44]:
y_test.shape

(257, 1)

# fit the model , and predict

In [50]:
clf = svm.SVC(kernel='linear', gamma='auto' ,C=2)
clf.fit(x_train, y_train.values.ravel())
y_predict = clf.predict(x_test)

# calculate the classification report

In [51]:
from sklearn.metrics import classification_report


print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.89      0.80      0.84       123
           1       0.83      0.91      0.87       134

    accuracy                           0.86       257
   macro avg       0.86      0.85      0.85       257
weighted avg       0.86      0.86      0.86       257

# calculate the accuracy

In [52]:
print('accuracy score ', accuracy_score(y_test, y_predict))

accuracy score  0.8560311284046692